.content {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.jambotron {
    margin-right: 10px;
}

.btn {
    margin-bottom: 20px;
}

.countlimit {
    padding: 5px;
    color: white;
}